</div>
</div>
</div>
</div>
</body>
<script src="/dist/js/jquery-3.2.1.min.js"></script>
<script src="/dist/js/all.js"></script>
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        $('.user-list').click(function(){
            $('.start-head').hide('slow')
            $('.chat-section').show('slow')
        })
    })
</script>
</html>