<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/project.css">
    <title>Node Chat App</title>
</head>
<body>
    <div class="container-fluid dash">
        <div class="row">
            <div class="col-md-2 one">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                      <h4>Node Chat App</h4>
                    </li>
                    <li class="nav-item mt-4">
                      <a class="nav-link active" href="/dashboard"><span class="fa fa-home"></span> Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout"><span class="fa fa-power-off"></span> Log out</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 two">
                <div class="tab-content">